[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "realTimeloads"]
	path = realTimeloads
	url = https://github.com/dlivsey/realtimeloads
